.title {
    font-size: 26px;
}

.cross {
    font-size: 20px;
    margin-top: -20px;
    
    
}
.pad{
    margin-top: 7px;
}

.support{
    margin-top: -18px;
}

.section-01{
    position: fixed;
    bottom: 15%;
   left: 32%;
   
    
 
 
}
